.navbar__container{
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #407ED2;
  height: 13vh; 

}
.image__logo{
  height: 80px;
}
.right__side__container{
  display: flex;
  color: #fefefe;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}
.dropdown__menu__container{
  width: 300px;
}
.dropdown__title{
  background-color: #f7f7f7 !important;
  color: #000 !important;
  font-weight: 600 !important;
}
.dropdown__items__one{
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
}
.dropdown__items__one:hover{
  background-color: white !important;
}
.signIn__btn{
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  background-color: #407ED2;
  color: white;
  text-transform: uppercase;
}
.register__btn{
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  background-color: white;
  color: #407ED2;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,0.2);
}
@media only screen and (min-width: 320px) and (max-width: 480px){
   /* CSS styles here */
   .navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #407ED2;
    height: 12vh;
  }

  .searchbar__container{
    display: none;
   
  }
  .image__logo{
    margin-left: 50px;
  }
  .right__side__container{
    display: flex;
    flex-direction: row;
    color: #fefefe;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
  }
  .dropdown__menu__container{
    width:190px;
  }
  .dropdown__title{
    font-size: 12px;
  }
  .signIn__btn{
    padding: 5px 8px;
   
  }
  .register__btn{
    padding: 5px 8px;
    margin-left: 5px;
  }
  
}
@media only screen and (min-width: 481px) and (max-width: 768px){

}
@media only screen and (min-width: 769px) and (max-width: 1024px){
  .navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #407ED2;
    height: 12vh;
  }

  .searchbar__container{
    display: none;
   
  }
  .image__logo{
    margin-left: 50px;
  }
  .right__side__container{
    display: flex;
    flex-direction: row;
    color: #fefefe;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
  }
  .dropdown__menu__container{
    width:190px;
  }
  .dropdown__title{
    font-size: 12px;
  }
  .signIn__btn{
    padding: 5px 8px;
   
  }
  .register__btn{
    padding: 5px 8px;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px){

}