.product__detail__right__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__model {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}
.product_title_span1 {
  margin-right: 4px;
}
.product_title_span2 {
  margin-right: 12px;
}
.product__tile {
  font-size: 25px;
  font-weight: 600;
}
.product__description {
  font-size: 15px;
  height: 100px;
}
.button__container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 26px;
}
.product_quantity_btn {
}
.quantity_btn {
  border-radius: 50%;
  width: 42px;
  font-size: 26px;
  color: #000;
  background-color: #d9d9d9;
  margin: 0px 4px;
  border: none;
}
.product_quantity {
  border-radius: 50%;
  width: 42px;
  padding: 8px 16px;
  color: white;
  background-color: #407ED2;
  margin: 0px 4px;
  border: none;
}
.price_tag{
    margin-right: 22px;
}
.price_tag span{
    font-size: 26px;
    font-weight: bold;
    margin: 0px 4px;
}
.cart-btn{
    padding: 8px 86px !important ;
}
.cart-btn:hover{
    background-color: #407ED2 !important;
    border: none !important;
}
.size__select{
    width: 40% !important;
}
@media (max-width: 768px) {
  .product__detail__right__container {
    gap: 10px;
  }
  .product__model {
    font-size: 16px;
  }
  .product__tile {
    font-size: 23px;
    font-weight: 600;
  }
  .product__description {
    font-size: 13px;
  }
  .button__container {
    gap: 10px;
  }
}
