.review {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    background-color: #fefefe;
    margin: 20px;
    padding: 20px;
}
.review__title {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
.reviews__rating {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.customer__name {
    font-size: 15px;
    color: #c1ab9f;
  }
  .description {
    padding: 10px 0;
  }