.review__title{
  margin-bottom: 36px;
} 
.review_content {
 width: 200px;
 text-align: center;
}
.review_count {
  font-size: 26px;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.review_based {
}
.review_btn{
  text-align: end;
  margin:26px 0px;
}
.reviews__rating {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.review_star {
  font-size: 26px !important;
}
.customer__name {
  font-size: 14px;
  color: #c1ab9f;
  margin-bottom: 0px !important;
}
.description {
  padding: 10px 0;
}
.review__description__container {
  background-color: #fefefe;
  /* margin: 10px 40px; */
  padding: 20px;
  height: 200px;
  overflow: hidden;
  transition: all 0.5s ease-in-out; 
}
.review__description__container.show_review{
  height: 550px;
  overflow: visible;
}
